@use '../../styles/common.module.scss';

.profile {
  padding-top: 50px;

  & .avatar {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 130px;
  }

  & .list {
    margin-bottom: 30px;
  }
}
