.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.congrat {
  position: absolute;
  top: 10px;
  width: 100vw;
  text-align: center;
  color: red;
}

.start {
  width: 200px;
}

.restart {
  position: absolute;
  top: 80px;
  left: calc(100vw / 2 - 100px);
  width: 200px;
}
