.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.congrat {
  position: absolute;
  top: 80px;
  width: 100vw;
  text-align: center;
  color: red;
}
