.game {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.congrat {
  position: absolute;
  top: 10px;
  width: 100vw;
  text-align: center;
  color: red;
}

.start {
  width: 300px;
}

.startHeader {
  text-align: center;
  margin-bottom: 10px;
}

.restart {
  position: absolute;
  top: 80px;
  left: calc(100vw / 2 - 100px);
  width: 200px;
}

.select {
  margin-bottom: 20px;
}
.selectLabel {
  color: white;
  margin-right: 10px;
}
