.profile_user_data {
  color: #fff;
  display: block;
  margin-bottom: 30px!important;

  & .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 8px 0;
  }

  & .colLeft {
    text-align: left;
  }

  & .colRight {
    text-align: right;
  }
}

.userDataInput{
  height: 25px;
  &:disabled {
    background-color: transparent;
    box-shadow: none;
    border: none;
    background-image:none;
    color: #fff;
    outline: none;
    -webkit-appearance: none;
  }
}