.profile_user_data {
  color: #fff;

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 8px 0;
  }

  &__profile_user_data_col_left {
    text-align: left;
  }

  &__profile_user_data_col_right {
    text-align: right;
  }
}
