@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.leader {
  @include align-flex-container(space-around);
  flex-direction: column;
  height: 100%;
}

.leader_first {
  .avatar {
    background: linear-gradient(to left, $purply, $orange);
  }
  .name,
  .score {
    color: $orange;
  }
}

.leader_second {
  .avatar {
    background: linear-gradient(to left, $purply, $vine);
  }
  .name,
  .score {
    color: $vine;
  }
}

.leader_third {
  .avatar {
    background: linear-gradient(to left, $purply, $purply-light);
  }
  .name,
  .score {
    color: $purply-light;
  }
}

.avatar {
  display: block;
  width: 96px;
  height: 96px;
  padding: 4px;
  border-radius: 50%;

  & > img {
    max-width: 100%;
    max-height: 100%;
    background: $black;
    border-radius: 100%;
  }
}

.name {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.score {
  margin: 0;
  font-weight: 700;
}
