.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  max-width: 250px;
}

.description {
  min-height: 150px;
  resize: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.error {
  background-color: rgb(204, 85, 85);

  &::placeholder {
    color: #fff;
  }
}
