@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.scores {
  color: $primary;
  position: relative;
  margin-right: 30px;
}

.scores_asc::before {
  content: '';
  position: absolute;
  right: 0;
  transform: translate(30px, 50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent $green transparent;
}

.scores_desc::before {
  content: '';
  position: absolute;
  right: 0;
  transform: translate(30px, 50%) rotate(180deg);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent $red transparent;
}
